/* App.css */
.App {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.filter-bar {
  margin: 20px;
}

select,
button {
  padding: 10px;
  margin: 10px;
}

.student-table {
  margin: auto;
  border-collapse: collapse;
  width: 80%;
  background-color: white;
}

.student-table th,
.student-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.student-table th {
  background-color: #007bff;
  color: white;
}
